<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>이벤트 및 마케팅 활용 동의</title>
<link rel="stylesheet" type="text/css" href="../../../resources/css/common_new.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/terms.css">
</head>
<body>
<div id="wrap">
    <div class="agree_information">
        <h2>이벤트 및 마케팅 활용 동의</h2>
        <table class="tbl_board">
            <colgroup>
                <col width="129">
            </colgroup>
            <tbody>
                <tr>
                    <th>목적</th>
                    <td>마카롱 업무택시 서비스 이벤트
                        및 광고 등 마케팅에 활용</td>
                </tr>
                <tr>
                    <th>항목</th>
                    <td>휴대폰 번호</td>
                </tr>
                <tr>
                    <th>보유기간</th>
                    <td>업무택시 서비스 해지 또는
                        동의 철회 시</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
