<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>내정보 > 약관 및 정책</title>
<link rel="stylesheet" type="text/css" href="../../../resources/css/common_new.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/terms.css">
</head>
<body>
<div id="wrap">
    <div class="agree_information">
        <h2>업무용 위치정보 제공 동의</h2>
        <p class="h2_dsc">(주)케이에스티모빌리티는 마카롱 업무택시 서비스 제공을 위해 아래와 같은 정보를 제공합니다.</p>
        <table class="tbl_board">
            <colgroup>
                <col width="129">
            </colgroup>
            <tbody>
                <tr>
                    <th>제공받는 대상</th>
                    <td>소속기업</td>
                </tr>
                <tr>
                    <th>제공 목적</th>
                    <td>마카롱 업무택시 서비스 제공
                        및 정산</td>
                </tr>
                <tr>
                    <th>제공 정보</th>
                    <td>호출 위치, 출발 위치, 도착 위치</td>
                </tr>
                <tr>
                    <th>제공 받는 자의 개인정보 보유기간</th>
                    <td>정산 완료 후 즉시 삭제
                        (단, 약관 및 관련 법률에 의한
                        보존이 필요한 경우 해당
                        기간만큼 보관)</td>
                </tr>
            </tbody>
        </table>
        <p class="more_dsc">더 자세한 내용은 위치기반 서비스 이용약관을 참고하시기 바랍니다.</p>
    </div>

</div>
</body>
</html>
