<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>내정보 > 약관 및 정책</title>
<link rel="stylesheet" type="text/css" href="../../../resources/css/common_new.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/terms.css">
</head>
<body>
<div id="wrap">
    <ul class="terms_list">
        <li>
            <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60">마카롱M 이용약관</a>
        </li>
        <li>
            <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60">위치기반 서비스 이용 약관</a>
        </li>
        <li>
            <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60">개인정보 처리방침</a>
        </li>
    </ul>
</body>
</html>
