<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>약관동의</title>
<link rel="stylesheet" type="text/css" href="../../../resources/css/common_new.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/terms.css">
</head>
<body>
<div id="wrap">
    <div class="agree_wrap">
        <div class="agree_area">
            <h2>서비스 이용을 위해 약관에 동의해주세요.</h2>
            <em class="checkbox_box all">
                <input type="checkbox" name="agree" id="all-chk" />
                <label for="all-chk">모두 동의합니다.</label>
            </em>
            <ul class="terms_certification">
                <li>
                    <div class="checkbox_box">
                        <input id="agree1" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree1">마카롱M 이용약관 동의 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree2" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree2">개인정보 처리방침 동의 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree3" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree3">개인정보 수집 및 이용 동의 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree4" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree4">개인정보 제 3자 제공 동의 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree5" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree5">전자금융 이용약관 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree6" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree6">위치기반 서비스 이용약관 (필수)</label>
                    </div>
                    <a href="http://t.rider.macaront.com/board/termsDetail.do?boardCat=TERMS&_token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNyIsIm5hbWUiOiLsi6ztg5zsmrAiLCJtb2JpbGVObyI6IjAxMC0yOTM0LTQxNTMiLCJiaXJ0aCI6IjIwMTItMDctMDkiLCJnZW5kZXIiOiJNIiwiZW1haWwiOiJzaW1AZ21haWwuY29tIiwiaWF0IjoxNTQ4MDQwMjg5fQ.yribOMbC165OWnB3rLj0xrbDHPPvIsrfB-yQf2Axk60" class="more_link"></a>
                </li>
                <li>
                    <div class="checkbox_box">
                        <input id="agree7" type="checkbox" name="agree" class="checkbox_box" />
                        <label for="agree7">마케팅 정보 수신 동의 (선택)</label>
                    </div>
                </li>
            </ul>
        </div>
        <!--[D] on class 추가시 버튼 활성화-->
        <div class="btn_confirm_area">
            <button type="button" class="btn_confirm">인증완료</button>
        </div>
    </div>
</div>
<script src="../../../resources/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    var $checkAll = $('#all-chk');
    var checkBoxes = $('input[name="agree"]');

    function btnConfirm(flag){
        if(flag){
            $(".btn_confirm").addClass("on");
        }else{
            $(".btn_confirm").removeClass("on");
        }
    };

    $checkAll.change(function() {
        var $this = $(this);
        var checked = $this.prop('checked');
        if(checked){
            $('input[name="agree"]').prop('checked', true);
            btnConfirm(true);
        } else{
            $('input[name="agree"]').prop('checked', false);
            btnConfirm(false);
        }
    });

    checkBoxes.change(function() {
        var boxLength = checkBoxes.length;
        var checkedLength = $('input[name="agree"]:checked').length;
        var selectAll = (boxLength == checkedLength);
        $checkAll.prop('checked', selectAll);

        if($('#agree1').is(':checked') && $('#agree2').is(':checked') && $('#agree3').is(':checked') && $('#agree4').is(':checked') && $('#agree5').is(':checked') && $('#agree6').is(':checked')){
            $("#all-chk").prop("checked", true);
            btnConfirm(true);
        }else{
            $("#all-chk").prop("checked", false);
            btnConfirm(false);
        }
    });
});
</script>
</body>
</html>
